* {
    margin: 0;
    padding: 0;
  }
  body {
background-color: #faf9ff;
    color: white;
  }
  nav {
    background-color: rgb(18, 18, 62);
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  .left{
    font-size: 1.5rem;
  }
 
  nav ul {
    display: flex;
    justify-content: center;
  }
  nav ul li {
    cursor: pointer;
    font-size: 1rem;
    list-style: none;
    margin: 0 26px;
  }
  nav ul li a:hover{
  color: rgb(140, 140, 244);
  }
  nav ul li a{
    text-decoration: none; 
    color: white;
    }
  .FirstSec {
    display: flex;
    justify-content: space-around;
    margin: 4px 0px 49px 0px;
  }
  .FirstSec > div {
    width: 40%;
  }
  .leftSec {
    color: black;
    width: 50%;
    font-size: 2.5rem;
    margin: 30px;
  }
  .purple{
    color: rgb(170, 107, 228);
  }
  #element{
    text-transform: uppercase;
  }
  #element::after {
    /* content :'|'; */
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation:blink 0.7s infinite;
  }
  /* Removes cursor that comes with typed.js*/
.element-cursor{
  opacity: 0;
  display: none;
}
@keyframes blink{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

@-webkit-keyframes blink{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}


.rightSec img{
  margin: 0px 10px;
  width: 90%;
  /* height: 80%; */
}
.violet{
  color:   #c77dff;
}
footer{
  background-color: #303067;
  /* height: 233px; */
}
.footer{
 padding: 16px 10px 0px 120px;
justify-content: space-evenly;
  display: flex;

}
.footer ul{
  list-style: none;
}
.footer >div{
  width: 500px;
}
footer .Footer-rights{
text-align: center;
color: grey;
padding: 12px;
}
.footer ul li img{
  width: 36px;
  text-decoration: none;
  cursor: pointer;
}
footer .footer-first ul li a{
  text-decoration: none; 
  color: white;
}
footer .footer-first ul li img {
  width: 40px;
}
footer .footer-second ul li a{
  text-decoration: none; 
  color: white;
}
footer .footer-second ul li img{
  width: 40px;
}
footer .footer-third ul li a{
  text-decoration: none; 
  color: white;
}
footer .footer-third ul li a img{
width: 40px;
}
footer .footer-third ul li a img Map{
  width: 80px;
  }
  

  /* Main */
  
  .blog{
    width: auto;
height: auto;
position: relative;
border: 5px solid #0f0f0f;
border-radius: 5px;
margin: 20px;
  } 
  .blog ul{
    list-style: none;
    border: #c77dff;
    border-radius: 20px;
  }
  .blog ul li{
    margin: 10px 20px;
    color: black;
  }


      /* Responsive  */
@media screen and (max-width: 1400px) {
  body {
    overflow-x: hidden; /* Hide vertical scrollbars */
  }
  nav{
    width: auto;
    flex-direction: column;
  }
  nav ul li {
    margin: 0 10px;
  }
  .rightSec img {
    margin: 0px 38px;
    width: 200%;
  }
  .footer {
    padding: 16px 10px 0px 30px;
    display: block;
    justify-content: space-evenly;
  }
  .footer>div{
    padding: 0px 0px 40px 20px;
  }

}




@media screen and (max-width:480px){
    
  body {
    overflow-x: hidden; /* Hide vertical scrollbars */
  }
  nav ul li {
    margin: 0 9px;
    font-size: 1rem;;
  }
  .footer >div {
    width: 300px;
  }
.footer
{
  font-size: 0.8rem;
}
.footer>div{
  padding: 0px 0px 40px 0px;
}
.left {
  font-size: auto;
}
.blog{
  width: 370px ;
  word-wrap: break-word;
}
/* .blog ul li p{
  width: 100px;
} */
}